#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main{
  display: flex;
  width: 80%;
}

ul{
  list-style: none;
  padding: 7px;
}

h3{
  margin-bottom: 0;
}

h4{
  margin-top: 0;
}

div>h4{
  margin-bottom: 0;
}

h5{
  margin-top: 0;
}